.DS_store
/App/google-services.json
/App/package-lock.json
/App/package.json
/App/www/js/push.js
/App/platforms/*
/App/node_modules/*
/Android26/google-services.json
/Android26/package-lock.json
/Android26/package.json
/Android26/www/js/push.js
/Android26/platforms/*
/Android26/node_modules/*

