<?xml version='1.0' encoding='utf-8'?>
<widget id="net.peterkruyen.dearscholar" version="1.0.4928" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>DearScholar</name>
    <description>
        DearScholar offers an intuitive and easy-to-use tool to conduct (self-report) qualitative and quantitative longitudinal diary, log and survey research.
    </description>
    <author email="p.m.kruyen@fm.ru.nl" href="https:peterkruyen.net">
        Dr. Peter M Kruyen, Institute for Management Research, Radboud University, the Netherlands.
    </author>
    <plugin name="cordova-plugin-device" source="npm" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="1.3.4" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="2.4.3" />
    <plugin name="cordova-plugin-fingerprint-aio" source="npm" spec="3.0.1" />
    <plugin name="cordova-sqlite-evcore-extbuild-free" source="npm" spec="0.11.0" />
    <plugin name="phonegap-plugin-push" source="npm" spec="2.3.0" />
    <plugin name="cordova-plugin-ionic-keyboard" source="npm" spec="2.2.0" />
    <preference name="android-minSdkVersion" value="26" />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name="scheme" value="app" />
    <preference name="hostname" value="localhost" />
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="HideKeyboardFormAccessoryBar" value="false" />
    <allow-navigation href="https://peterkruyen.net/*" />
    <allow-intent href="https://peterkruyen.net/*" />
    <access origin="https://peterkruyen.net/*" />
    <allow-intent href="mailto:*" />
    <platform name="ios">
        <icon height="1024" src="res/icon/ios/icon-1024.png" width="1024" />
        <icon height="29" src="res/icon/ios/icon-small.png" width="29" />
        <icon height="58" src="res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="res/icon/ios/icon-small@3x.png" width="87" />
        <icon height="40" src="res/icon/ios/icon-small-40.png" width="40" />
        <icon height="80" src="res/icon/ios/icon-small-40@2x.png" width="80" />
        <icon height="120" src="res/icon/ios/icon-small-40@3x.png" width="120" />
        <icon height="50" src="res/icon/ios/icon-small-50.png" width="50" />
        <icon height="100" src="res/icon/ios/icon-small-50@2x.png" width="100" />
        <icon height="57" src="res/icon/ios/icon.png" width="57" />
        <icon height="114" src="res/icon/ios/icon@2x.png" width="114" />
        <icon height="60" src="res/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" src="res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="76" src="res/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="167" src="res/icon/ios/icon-167.png" width="167" />
        <icon height="167" src="res/icon/ios/icon-83.5@2x.png" width="167" />
        <splash src="res/screen/ios/Default@2x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@2x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@3x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@3x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@2x~ipad~anyany.png" />
        <splash src="res/screen/ios/Default@2x~ipad~comany.png" />
        <edit-config file="*-Info.plist" mode="merge" target="UIStatusBarHidden">
            <true />
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="UIViewControllerBasedStatusBarAppearance">
            <false />
        </edit-config>
    </platform>
    <platform name="android">
        <resource-file src="google-services.json" target="app/google-services.json" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
        <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png" />
    </platform>
    <content src="index.html" />
</widget>
